
  aside#side-bar
    h2 links
    ul
      li 
        a(href='#') languages that I use
      li 
        a(href='#') frameworks that I know
      h3 The Beatles
      - beatles = ['ringo', 'john', 'paul', 'george'];
      ul
        each beatle in beatles
          li #{beatle}

      - obj = {first_name: 'George', surname: 'Ornbo'}
      - each val, key in obj
        li #{key}: #{val}
    h2 more links
    ul
      li 
        a(href='#') languages that I use
      li 
        a(href='#') frameworks that I know
