extends layout

block content
  h1 About me
  p what do you need to know?
  p will the real me stand up
  section#main-content
    h2 main content
    p
      | main content here please
    p
      | okay so maybe not so much main content per say
      | but jade is generating HTML for us.
    p
      | if you want to build web applications with node
      | than Express is an excellent choice for a framework.
    P
      | Express takes care of the RESTful service your applications
      | need and strive for but doesn't get in your way.

   aside#side-bar
     ul
       li
         a(href='#') some link to somewhere
       li
         a(href='#') some link to somewhere
       li
         a(href='#') some link to somewhere
       li
         a(href='#') some link to somewhere
       li
         a(href='#') some link to somewhere
       li
         a(href='#') some link to somewhere
       li
         a(href='#') some link to somewhere
       li
         a(href='#') some link to somewhere
       li
         a(href='#') some link to somewhere
