extends layout

block content
  h1= title
  p Welcome to my #{title} site.
  p
    | built with love and care
  p
    | lets work with Express to build something
    | worth building. I'm having a blast working with Jade and Stylus
  p 
    | Express is making things easy to work with
    | Lets make a blog and I will use it

