
extends layout

block content
  h1 Work
  p Isn't that a four letter word?
  p check it out and tell me what
  section#main-content
    h2 jade is awesome 
    h3 Mixins yo 
    mixin langs(langs)
      ul
        each lang in langs
          li= lang
    - langs = ["JavaScript", "Python", "Ruby"]
    mixin langs(langs)
    - more_langs = ['JavaScript', 'Python', 'Ruby', 'PHP']
    mixin langs(more_langs)


  aside#side-bar
    h2 links
    ul
      li 
        a(href='#') languages that I use
      li 
        a(href='#') frameworks that I know
      li 
        a(href='#') more languages that I know 
      li 
        a(href='#') node applications to work on
      h3 The Beatles
      - beatles = ['ringo', 'john', 'paul', 'george'];
      ul
        each beatle in beatles
          li #{beatle}

      - obj = {first_name: 'George', surname: 'Ornbo'}
      - each val, key in obj
        li #{key}: #{val}

     - awake = true
     - if (awake)
       h2 you are awake
     - else
       h2 you are not awake
    
  #work
    ul
      li.view-box
      li.view-box
      li.view-box
      li.view-box
    ul
      li.view-box
      li.view-box
      li.view-box
      li.view-box
    ul
      li.view-box
      li.view-box
      li.view-box
      li.view-box
  
 #addSome

