extends layout

block content
  h1 Work
  p Isn't that a four letter word?
  p check it out and tell me what
  section#main-content
    h2 my work
  aside#side-bar
    h2 links
    ul
      li 
        a(href='#') languages that I use
      li 
        a(href='#') frameworks that I know


  #work
    ul
      li.view-box
      li.view-box
      li.view-box
      li.view-box
      li.view-box
      li.view-box
      li.view-box
      li.view-box
      li.view-box
      li.view-box
      li.view-box
      li.view-box

