
extends layout

block content
  h1 Work
  p Isn't that a four letter word?
  p check it out and tell me what
  section#main-content
    h2 design
    h3 Mixins yo 
      mixin users(users)
        ul
          each user in users
            li= user
      - users = ["Tanya", "Sue", "Rachel"]
      mixin users(users)
      - more_users = ['Mike', 'Mark', 'Paul', 'Peter']
      mixin users(more_users)
            

  aside#side-bar
    h2 links
    ul
      li 
        a(href='#') languages that I use
      li 
        a(href='#') frameworks that I know
      h3 The Beatles
      - beatles = ['ringo', 'john', 'paul', 'george'];
      ul
        each beatle in beatles
          li #{beatle}

      - obj = {first_name: 'George', surname: 'Ornbo'}
      - each val, key in obj
        li #{key}: #{val}

    
  #work
    ul
      li.view-box
      li.view-box
      li.view-box
      li.view-box
    ul
      li.view-box
      li.view-box
      li.view-box
      li.view-box
    ul
      li.view-box
      li.view-box
      li.view-box
      li.view-box
  
 #addSome

      - awake = true
      - if (awake)
        p you are awake
      - else
        p you are not awake
