::selection {
  background: #f00060;
  text-shadow: none;
  color: #fff;
}
::-moz-selection {
  background: #f00060;
  text-shadow: none;
  color: #fff;
}
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
#wrap {
  position: relative;
  width: 85%;
  max-width: 1140px;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
nav {
  float: right;
  width: 55%;
  padding: 0;
  margin: 0;
/*background-color #8fc*/
}
nav ul {
  float: right;
  width: 70%;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
/*background-color #f7c*/
}
nav ul li {
  float: left;
  margin-left: 2em;
  margin-top: 1em;
}
nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #a09696;
}
nav ul :hover {
  color: #f5c;
}
header {
  width: 100%;
  height: 100px;
}
header h1 {
  color: #fdc7e9;
  text-shadow: 3px 4px 2px #eee;
  margin: 2em 0;
}
#main-content {
  width: 50%;
  height: auto;
  float: left;
  clear: both;
  padding: 0 1em 1em 0;
}
#side-bar {
  float: right;
  background-color: rgba(179,174,174,0.3);
  text-shadow: -1px -1px 0 #fafafa;
  width: 27%;
  padding: 1em;
  margin: -8% 7% 30px 30px;
  border-radius: 0 7px 7px 7px;
  border: 2px inset #aaa;
}
#side-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#side-bar li {
  margin: 1em 0;
}
#side-bar a {
  text-decoration: none;
  color: #999;
}
#side-bar a:hover {
  color: #1bf;
}
form {
  width: 35%;
  float: left;
}
#map {
  width: 60%;
  height: 395px;
  float: right;
  border: 1px solid #ddd;
}
#work {
  overflow-y: scroll;
  height: 360px;
  width: 980px;
  background-color: rgba(71,70,70,0.07);
  margin: 30px auto 0 auto;
}
#work ul {
  list-style: none;
  float: left;
}
#work .view-box {
  width: 170px;
  height: 115px;
  background-color: #858585;
  padding: 0;
  margin: 1.6em 1.6em 0 1.6em;
  float: left;
  clear: none;
}
#work .view-box:hover {
  width: 160px;
  height: 100px;
  border: 5px inset #fafafa;
}
#space {
  height: 150px;
  width: 100%;
  padding: 0 0 50px 0;
}
#addSome {
  width: 100%;
  height: 300px;
}
footer {
  width: 100%;
  height: 100px;
  background-color: #383838;
  text-align: center;
  color: #fff;
  float: left;
  clear: both;
  line-height: 3.3em;
  margin-top: 90px;
}
